*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
background-image: url(chien.jpg);
background-size: cover;
background-position: center center;
font-family: sans-serif;
}

.menu-bar
{
background-color: rgba(34, 203, 255, 0.5);
text-align: center;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;
}
.menu-bar ul li
{
width: 120px;
margin: 15px;
padding: 15px;
}
.menu-bar ul li a
{
text-decoration: none;
color: #fff
}
.active, .menu-bar ul li:hover
{
 background-color: rgba(6, 91, 250, 0.5);
 border-radius: 3px;

}
.menu-bar .fa
{
margin-right: 8px;
}
.sub-menu-1
{
display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
display: block;
position: absolute;
background: rgb(6, 91, 250, 0.5);
margin-top: 15px;
margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background:transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: rgba(255, 255, 255, 0.5);
}
bi-stickies-angle-right
{
    float: right;
}
.logo
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 3px 10px rgb(59, 59, 59);
    z-index: 100;
}



